extends layout

block content
  #panels.row(data-equalizer)
    each tweet in tweets
      .medium-4.columns
        .panel(data-equalizer-watch)
          img(src="#{tweet.user.profile_image_url}")
          h3= tweet.user.screen_name
          p= tweet.text
