.top-bar {
	margin-bottom: 4px;
}

.panel {
	max-height: 230px;
	min-height: 230px;
}

.panel img {
  float: right;
}

.last-tweet {
	background-color: #000;
}

.last-tweet h3, .last-tweet p {
  color: #fff;
}

